* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #0f3445;
}

.header_container {
  display: flex;
  align-items: center;
}

.header_title {
  font-size: 2rem;
  padding: 1rem;
  margin: 0 10px;
  color: #0f3445;
}

.header_signin {
  font-size: 1.5rem;
  color: #0f3445;
  margin: 0px 20px 0px auto;
  padding: 1rem;
}

.nav_container {
  margin: 10px 20px 10px auto;
  display: flex;
}

.nav_container > li {
  list-style-type: none;
}

.nav_container > li > a {
  padding: 5px;
  font-size: 1.2rem;
}

.nav_container > li > span {
  font-size: 1.6rem;
  padding: 0 2px;
  color: #0f3445;
}

.About {
  background: #183447;
  color: white;
  height: calc(100vh - 200px);
}

.banner-title,
.banner-tagline {
  text-align: center;
}

.banner-title {
  font-size: 24px;
}

.host_container {
  display: flex;
  justify-content: space-between;
  background-color: #193549;
  color: #fff;
}
.host-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hosts-title {
  margin-left: 10px;
}

.hosts-section > p {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin-left: 25px;
  margin-top: 10px;
}

.add-host {
  margin-left: 15px;
}
.add-host > h2 {
  font-size: 18px;
}
.add-host > p {
  max-width: 400px;
  margin: 10px;
}
.event-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-options > h2 {
  font-size: 16px;
}

.event-options > label {
  margin: 5px;
  font-size: 12px;
}

.submit-btn {
  background: transparent;
  width: 60px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

.event-card {
  background-color: black;
  color: white;
  width: 500px;
}

.events-container {
  display: flex;
  justify-content: space-around;
}

.info-bar {
  background-color: gray;
}
